.container {
    margin: 50px;
}

.example-card {
    max-width: 300px;
    background-color: rgb(251, 251, 251);
    border-radius: 20px;
    box-shadow: -2px 2px 10px #d0d0d2;
   /*  max-width: 75%; */
}

mat-card-content.top-padding {
    padding-top: 15px;
}

mat-card:hover {
    background-color: #f7f7f7;
    background-color: white;
    box-shadow: -2px 2px 15px #d0d0d2;
}

button {
    margin-right: 7px;
}