.body-container {
    padding-bottom: 100vh;
    padding-top: 100px;
}

mat-dialog-container {
    border-radius: 30px;
}

mat-card {
    background-color: white;
    margin-top: 0px;
    padding: 40px;
    border-radius: 30px;
    box-shadow: -2px 2px 30px #E9EBF3;
}

h1 {
    margin-bottom: 30px;
}

app-upload-image {
    color: #4350AE;
}

.category {
    padding-bottom: 15px;
}

.input {
    display: block;
}

button {
    margin-top: 30px;
    background-color: blue;
}

.text-center {
    text-align: center;
}

.chips {
    margin-left: 20px;
    margin-right: 20px;
}

mat-chip-option {
    background-color: #E9EBF9;
}

.input {
    margin-top: 20px;
    color: #4350AE;
    font-family: Roboto;
}