<mat-toolbar>
    <span>
        <img style="margin-top: 8%;" src="assets/small-ootd-logo.svg">
    </span>
    <span class="spacer"></span>

    <div class="page-button">
        <button mat-button [routerLink]="['/closet']" style="color:rgb(44,58,161);">
            <span>
                <img src="assets/Hanger.svg" class="navbar-icon">
            </span>
            CLOSET
        </button>
    </div>

    <div class="page-button" id="outfit-builder">
        <button mat-button [routerLink]="['/builder']" style="color:rgb(44,58,161);">
            <span>
                <img src="assets/builder.svg" class="navbar-icon">
            </span>
            OUTFIT BUILDER
        </button>
    </div>
    
    <div class="page-button">
        <button mat-button  style="color:rgb(44,58,161);">
            <span>
                <img src="assets/add-icon.svg" class="navbar-icon">
            </span>
            ADD ITEM
        </button>
    </div>
    
    <span class="spacer"></span>
    <span>
        <button mat-mini-fab class="user-icon" style="background-color: transparent;"
            [routerLink]="['/user']">
            <img style="margin-top: 8.8%;" 
                src="assets/user-icon.svg">
        </button>
    
    </span>
</mat-toolbar>