<mat-toolbar>
    <span>
        <img style="margin-top: 8%;" src="assets/small-ootd-logo.svg">
    </span>
    <span class="spacer"></span>
    <button mat-button [routerLink]="['/closet']" style="color:rgb(44,58,161);">CLOSET</button>
    <button mat-button style="color:rgb(44,58,161);">OUTFIT BUILDER</button>
    <span class="spacer"></span>
    <span>
        <button class="user-icon" 
            style="
                width: 40px;
                height: 40px;
                margin-top: auto;
                margin-bottom: auto;
                border:none; 
                border-radius: 40px; 
                background-color: white;"
            [routerLink]="['/user']">
            <img style="margin-top:auto; margin-bottom: auto; margin-right: 200px; margin-left: auto; 
                position:absolute;
                top: 1.7%;
                left: 96.1%;" 
                src="assets/user-icon.svg">
        </button>
    </span>
</mat-toolbar>