<mat-toolbar>
    <span>
        <img style="margin-top: 8%;" src="assets/small-ootd-logo.svg">
    </span>
    <span class="spacer"></span>
    <button mat-button [routerLink]="['/closet']" style="color:rgb(44,58,161);">
        <span>
            <img src="assets/Hanger.svg" class="navbar-icon">
        </span>
        CLOSET
    </button>
    <button mat-button [routerLink]="['/builder']" style="color:rgb(44,58,161);">
        <span>
            <img src="assets/builder.svg" class="navbar-icon">
        </span>
        OUTFIT BUILDER
    </button>
    <button mat-button  style="color:rgb(44,58,161);">
        <span>
            <img src="assets/add-icon.svg" class="navbar-icon">
        </span>
        ADD ITEM
    </button>
    <span class="spacer"></span>
    <span>
        <button mat-mini-fab class="user-icon" style="background-color: transparent;"
            [routerLink]="['/user']">
            <img style="margin-top: 8.8%;" 
                src="assets/user-icon.svg">
        </button>
    
    </span>
</mat-toolbar>