.name {
    padding-left: 50px;
}

.last {
    padding-right: 50px;
}

.spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: rgb(233,235,249);
}

.user-icon:hover {
    box-shadow: 2px 2px 5px rgb(179,181,191);
}

.page-button {
    margin-left: 10px;
    margin-right: 10px;
}

/*
button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  button:hover {
    background-color: black;
    color: white;
  }
  */