<body>
    <h1>Your Closet</h1>
    <mat-grid-list cols="4" rowHeight="400">
        <ng-container *ngFor="let outfit of allOutfits">
        <mat-grid-tile class="tile">
            <mat-card class="card" (click)="openDialog(outfit)">
                <div class="clothes-container">
                    <div class="row">
                        <span class="top">
                            <img class="clothing" src={{outfit.Tops.image}}>
                        </span>
                        <span class="accessory">
                            <img class="clothing" src={{outfit.Accessories.image}}>
                        </span>
                    </div>
                    <div class="row">
                        <span class="bottom">
                            <img class="clothing" src={{outfit.Bottoms.image}}>
                        </span>
                        <span class="shoes">
                            <img class="clothing" src={{outfit.Shoes.image}}>
                        </span>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <mat-card-content class="padding">
                    <mat-card-title>{{outfit.Name}}</mat-card-title>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        </ng-container>
    </mat-grid-list>
</body>

