<body>
    <mat-grid-list cols="4" rowHeight="400">
        <mat-grid-tile class="tile">
            <mat-card class="card">
                <div class="clothes-container">
                    <div class="row">
                        <span class="top">
                            <img class="clothing" src="assets/builder-sample-pics/tops/pink-sweatshirt.avif">
                        </span>
                        <span class="accessory">
                            <img class="clothing" src="assets/builder-sample-pics/accessories/bag.webp">
                        </span>
                    </div>
                    <div class="row">
                        <span class="bottom">
                            <img class="clothing" src="assets/builder-sample-pics/bottoms/mom-jeans.avif">
                        </span>
                        <span class="shoes">
                            <img class="clothing" src="assets/builder-sample-pics/footwear/shoes1.webp">
                        </span>
                    </div>
                </div>
                <mat-card-content>
                    <mat-divider></mat-divider>
                    <mat-card-title>Outfit Name</mat-card-title>
                  </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile class="tile">
            <mat-card class="card"></mat-card>
        </mat-grid-tile>

        <mat-grid-tile class="tile">
            <mat-card class="card"></mat-card>
        </mat-grid-tile>

        <mat-grid-tile class="tile">
            <mat-card class="card"></mat-card>
        </mat-grid-tile>
    
    </mat-grid-list>
</body>

