html, body {
    min-height: 100vh;
}

.container {
    margin: 50px;
}

body {
    margin-bottom: 0px;
    min-height: 100vh;
    padding-bottom: 70px;
}

.tile {
    /*background-color: #F6F8FF;*/
}

.card {
    background-color: white;
    width: 300px;
    /*height: 375px;*/
    border-radius: 20px;
}

.clothes-container {
    width: 100%;
    margin-left: 12%;
    margin-top: 10%;
    margin-bottom: 7%;
}

.row {
    margin: 0px;
}

.clothing {
    width: 35%;
    border-radius: 10px;
    margin: 3px;

}

mat-card:hover {
    background-color: #f7f7f7;
}

mat-card-content.padding {
    padding-top: 15px;

}