<body>
    <mat-card class="mat-card-container">
        <div class="top-buttons">
            <span>
                <button mat-button class="login-signup-page-button" 
                    style="
                        color:rgb(239,241,255);
                        background-color: rgb(75,89,190);">
                    LOG IN
                </button>
            </span>
            <span>
                <button mat-button class="login-signup-page-button"
                    style="
                        color:rgb(75,89,190);
                        background-color: rgb(239,241,255);"
                        [routerLink]="['/signup']">
                    SIGN UP
                </button>
            </span>
        </div>
        
        <mat-form-field class="inputField" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="inputField" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput>
        </mat-form-field>
        
        <div class="text-center">
            <button mat-button class="login-signup-page-button" 
                    style="
                        color:rgb(239,241,255);
                        background-color: rgb(75,89,190);
                        margin-top: 5%;
                        margin-bottom: 10%;">
                    LOG IN
                </button>
        </div>

        <!--
        <small>Don't have an account?</small>
        <small>
            <button [routerLink]="['/signup']"> Sign Up</button>
        </small>
    -->

    </mat-card>
</body>



