.container {
    margin: 50px;
}

.example-card {
    width: 300px;
    background-color: #F6F8FF;
    height: 350px;
}

mat-card {
    border-radius: 20px;
    box-shadow: -2px 2px 10px #d0d0d2;
}

mat-card:hover {
    /*background-color: #f7f7f7;*/
    background-color: rgb(255, 255, 255);
    box-shadow: -2px 2px 15px #d0d0d2;
}

body {
    min-height: 100vh;
    padding-bottom: 70px;

}

img {
    padding: 40px;
    height: 290px;
}

mat-card-content.top-padding {
    padding-top: 15px;
    padding-bottom: 15px;
}