<div class="container">
    <h1>Your Closet</h1>
    <mat-grid-list cols="4" rowHeight="400">
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="https://static.vecteezy.com/system/resources/previews/004/459/001/original/women-s-jeans-linear-icon-thin-line-illustration-trousers-contour-symbol-isolated-outline-drawing-vector.jpg" alt="Photo of a Shiba Inu">
                <mat-divider></mat-divider>
                <mat-card-content class="top-padding">
                  <mat-card-title>Jeans</mat-card-title>
                  <mat-card-subtitle>14 items</mat-card-subtitle>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="https://static.vecteezy.com/system/resources/previews/004/459/001/original/women-s-jeans-linear-icon-thin-line-illustration-trousers-contour-symbol-isolated-outline-drawing-vector.jpg" alt="Photo of a Shiba Inu">
                <mat-divider></mat-divider>
                <mat-card-content class="top-padding">
                <mat-card-title>T-Shirts</mat-card-title>
                <mat-card-subtitle>10 items</mat-card-subtitle>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="https://static.vecteezy.com/system/resources/previews/004/459/001/original/women-s-jeans-linear-icon-thin-line-illustration-trousers-contour-symbol-isolated-outline-drawing-vector.jpg" alt="Photo of a Shiba Inu">
                <mat-divider></mat-divider>
                <mat-card-content class="top-padding">
                <mat-card-title>Blouses</mat-card-title>
                <mat-card-subtitle>11 items</mat-card-subtitle>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="https://static.vecteezy.com/system/resources/previews/004/459/001/original/women-s-jeans-linear-icon-thin-line-illustration-trousers-contour-symbol-isolated-outline-drawing-vector.jpg" alt="Photo of a Shiba Inu">
                <mat-divider></mat-divider>
                <mat-card-content class="top-padding">
                <mat-card-title>Pants</mat-card-title>
                <mat-card-subtitle>10 items</mat-card-subtitle>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

    </mat-grid-list>
</div>


  
