.container {
    margin: 50px;
}

.example-card {
    max-width: 300px;
}

mat-card-content.top-padding {
    padding-top: 15px;
}

mat-card:hover {
    background-color: #f7f7f7;
}

body {
    min-height: 100vh;
    padding-bottom: 70px;

}