.example-card {
    max-width: 300px;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

mat-card-content.top-padding {
    padding-top: 15px;
}

.container {
    margin: 50px;
}