<body>
    <!--
    <ul id = "title">
        <h1>
            <li>O</li>
            <li>O</li>
            <li>T</li>
            <li>D</li>
        </h1> 
    </ul>
-->
 <img src="assets/ootd-logo.svg" 
    alt="OOTD" class="center" style="padding-top: 5%;">

    <div class="text-center">
        <button mat-raised-button class="login-button" [routerLink]="['/login']" 
            style="
                margin-top: 5%; 
                background-color: transparent;
                outline-style: solid;
                outline-color: white;
                color: white;
                ">
            ENTER CLOSET
        </button>
    </div>

</body>
