<body>
    <!--
    <ul id = "title">
        <h1>
            <li>O</li>
            <li>O</li>
            <li>T</li>
            <li>D</li>
        </h1> 
    </ul>
-->
 <img src="https://lh3.googleusercontent.com/hFTJgNk3TwrYG3ZRgkRH8blObc7xrrepBGpnCyGmR2KJEWltYpzaOpfyHUIPBJ1j2zoo1ojREA2huuZTchA6XI4_yn86MsoBfq9n3e4_0IKVoFcPOmBPXdNULo7SAmmspA=w1280" 
    alt="OOTD" class="center" style="padding-top: 5%;">

    <div class="text-center">
        <button mat-raised-button [routerLink]="['/login']">LOGIN</button>
    </div>

</body>
