<body>
  <div class="body-container">
    <mat-card>
      <div class="container">
        <div class="title">
          <h1 class="text-center">Add New Clothing Item</h1>
        </div>
        <form enctype="multipart/form-data">

          <!-- UPLOAD IMAGE -->
          <app-upload-image id="upload"> </app-upload-image>

          <!-- INPUT NAME -->
          <mat-form-field class="input" appearance="fill" id="name-container">
            <mat-label>Name</mat-label>
            <input #name id="name" matInput>
          </mat-form-field>
    
          <!-- SELECT CATEGORY (USING CHIPS) -->
          <div class="chips">
            <mat-chip-listbox class="category" class="input" aria-label="category selection" #categories id="categories">
              <mat-chip-option value="tops">Top</mat-chip-option>
              <mat-chip-option value="bottoms">Bottom</mat-chip-option>
              <mat-chip-option value="one-pieces">One-piece</mat-chip-option>
              <mat-chip-option value="shoes">Shoes</mat-chip-option>
              <mat-chip-option value="accessories">Accessory</mat-chip-option>
            </mat-chip-listbox>
          </div>
          
  
          <!-- SELECT TAGS
          <mat-form-field class="input" appearance="fill">
            <mat-label>Clothing tags</mat-label>
            <mat-chip-grid #chipGrid aria-label="Fruit selection">
              <mat-chip-row *ngFor="let tag of tags" (removed)="remove(tag)">
                {{tag}}
                <button matChipRemove [attr.aria-label]="'remove ' + tag">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            </mat-chip-grid>
            <input placeholder="New Tag..." #tagInput [formControl]="tagCtrl"
              [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)"/>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                {{tag}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          -->

          <!-- SUBMIT -->
          <div class="text-center">
            <button mat-flat-button (click)="onSubmit(name.value, categories.value, $event)" id="add-button" 
            style="
            background-color: #F5F5F5;
            border-radius: 10px;
            padding: 15px;
            "
            >ADD ITEM</button>
          </div>
          
        </form>
        
      </div>
    </mat-card>
    
  </div>
  
</body>




