.body-container {
    background-color: #F6F8FF;
    padding-bottom: 100vh;
    padding-top: 100px;
}

mat-card {
    background-color: white;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 0px;
    padding: 40px;
    border-radius: 30px;
    box-shadow: -2px 2px 30px #E9EBF3;

}

.title {
    margin-left: 120px;
    margin-right: auto;
}

.category {
    padding-bottom: 15px;
}

.input {
    /*width: 50%;*/
    display: block;
}

