<div class="container">
    <h1>Jeans</h1>
    <mat-grid-list cols="4" rowHeight="500">
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="https://media.everlane.com/image/upload/c_fill,w_640,ar_1:1,q_auto,dpr_1.0,g_face:center,f_auto,fl_progressive:steep/i/8318fe58_a828" alt="Photo of a Shiba Inu">
                <mat-divider></mat-divider>
                <mat-card-content class="top-padding">
                  <mat-card-title>Dark wash</mat-card-title>
                  <button mat-stroked-button>JEANS</button>
                  <button mat-stroked-button>DRAWER</button>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="https://media.everlane.com/image/upload/c_fill,w_640,ar_1:1,q_auto,dpr_1.0,g_face:center,f_auto,fl_progressive:steep/i/0a326df5_b80c" alt="Photo of a Shiba Inu">
                <mat-divider></mat-divider>
                <mat-card-content class="top-padding">
                <mat-card-title>Light wash</mat-card-title>
                <button mat-stroked-button>JEANS</button>
                  <button mat-stroked-button>DRAWER</button>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="https://media.everlane.com/image/upload/c_fill,w_640,ar_1:1,q_auto,dpr_1.0,g_face:center,f_auto,fl_progressive:steep/i/309d8fe1_3e5c" alt="Photo of a Shiba Inu">
                <mat-divider></mat-divider>
                <mat-card-content class="top-padding">
                <mat-card-title>Vintage light wash</mat-card-title>
                <button mat-stroked-button>JEANS</button>
                  <button mat-stroked-button>DRAWER</button>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="https://media.everlane.com/image/upload/c_fill,w_640,ar_1:1,q_auto,dpr_1.0,g_face:center,f_auto,fl_progressive:steep/i/98b6e3ea_b745" alt="Photo of a Shiba Inu">
                <mat-divider></mat-divider>
                <mat-card-content class="top-padding">
                <mat-card-title>Washed black</mat-card-title>
                <button mat-stroked-button>JEANS</button>
                <button mat-stroked-button>DRAWER</button>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

    </mat-grid-list>
</div>
