.container {
    margin: 50px;
}

.example-card {
    max-width: 300px;
}

mat-card-content.top-padding {
    padding-top: 15px;
}

mat-card:hover {
    background-color: #f7f7f7;
}

button {
    margin-right: 7px;
}