<div class="container">
    <h1>Jeans</h1> <!-- TO DO: CHANGE THIS-->
    <mat-grid-list cols="4" rowHeight="400">
        <mat-grid-tile *ngFor="let item of items">
            <mat-card class="example-card">
                <img mat-card-image src={{item.image}}>
                <mat-divider></mat-divider>
                <mat-card-content class="top-padding">
                  <mat-card-title>{{item.name}}</mat-card-title>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
